/* 6e2327ff красный 
   262739ff синий
   dee0aaff белый
   998d4dff тёмно-жёлтый
   e0e0e0ff серый
   989898ff тёмно-серый
*/
/* border-radius: 50%;															/* округление квадратов до круга */
/* float: left;																	/* выравнивание по горизонтали */

:root{																			/* Константы цветов */
    --gray: #e0e0e0ff;															/* светло-серый */
    --dark-gray: #989898ff;														/* тёмно-серый */
}

div {																			/* Общие параметры для всех слоёв */
		position: absolute;														/* положение от верхнего левого края странички */
}

.standartField-0 {																/* Светло-серое поле */
	width: 70px;																/* ширина квадратов */
	height: 70px;																/* высота квадратов */
	background: var(--gray);													/* цвет фона слоя */
}

.standartField-1 {																/* Светло-серое поле */
	width: 70px;																/* ширина квадратов */
	height: 70px;																/* высота квадратов*/
	background: var(--dark-gray);												/* цвет фона слоя */
}

.blackChecker {

}

.whiteChecker {

}

#divButton {																	/* Слой для размещения кнопок */
	left: 10px;																	/* расстояние слева */ 
	top: 650px;																	/* расстояние сверху: 8полей по 70px = 560px, между ними по 10px,
}																				/* 7 промеж. = 70 px, сверху и снизу по 10px = 20px, в сум.650 px*/
