:root{															/* Константы */									
    --gray: #e0e0e0ff;											/* gray - светло-серый для обводки шашек */
    --dark-gray: #989898ff;										/*  */
    --blue: #262739ff;											/* blue - синий, цвет игрока А */
    --red: #6e2327ff;											/* red - красный, цвет игрока В */
    --border: #dee0aaff;										/* border - светло-жёлтый для обводки шашек */
    --black: #1a1a1aff;											/* black - цвет фона всей html-странички */
    --dark-gray-2: #333333ff;									/* dark_gray_2 - серый для светлых полей (НАЧАЛЬНЫЙ цвет) */
    --dark-gray-1: #262626ff;									/* dark_gray_1 - серый для тёмных полей (НАЧАЛЬНЫЙ цвет) */
    --redYellow: #624937ff;								
    --blueYellow: #48496bff;		
}

/* Подключаю шрифт для текста на кнопках, полях и пр... */
@font-face {
	/* Это Bahnschrift - дорого и сердито. Лучше, чем Comic Sans */
    font-family: 'Bahnschrift';	
    
    /* Файл со шрифтом лежит в папке с прочими файлами проекта */								
    src: url('Bahnschrift.ttf');						
}

/* параметры, общие для всей странички */
body {	
	/* фон странички - тёмно-серый, чтобы глаза не напрягались */														
	background: var(--black);
	
	/* шашечная доска со всеми этими кнопочками - по центру */									
	text-align: center;		
	
	/* шрифт на всей страничке единый - тот, что я подключил выше */									
	font-family: Bahnschrift;
}

/* общий слой, на котором размещается шашечная доска, пустые слои, */
/* слой с кнопками в страничке checkers.html; главное меню в страничке main.html */
#tableCaption {
	/* flex-разметка: слои примыкают друг к другу */
	/* inline-flex означает, что общий слой tableCaption принимает */
	/* наименьшие возможные размеры в соответствии с внутренними слоями*/
	display: inline-flex;
	
	/* внутренние слои будут располагаться по вертикали сверху вниз */
	flex-direction: column;
}

/* слой логотипа с наименованием игры */
#divCaption {
	/* обводка сплошная */
	border-style: solid;
	
	/* цвет обводки золотой (светло-жёлтый) */
	border-color: var(--border);
	
	/* размер букв большой, 500% от системного */
	font-size: 500%;
	
	/* цвет букв также светло-жёлтый, золотой */
	color: var(--border);
}

/* divText1 - слой с текстом, который предлагает выбрать размер доски */
#divText1 {
	/* цвет текста светло-серый */
	color: var(--gray);
	
	/* размер средний (относительно других слоёв с текстами этой странички) */
	font-size: 150%;
}

/* слой с кнопками (в main.html - кнопки с предлагаемыми размерами доски) */
/* (в checkers.html - кнопки ">", "<", "Начать игру", а также слой информационного поля; */
/* кроме того, это внутренний слой для кнопок ">", "<") */
.divButtons {
	/* flex-разметка означает, что все внутренние слои размещаются рядом */
	/* друг с другом в определённом порядке; inline-flex показывает, */
	/* что внешний слой принимает наименьший возможный размер зависимо от внутренних */
	display: inline-flex;
	
	/* кнопок много, и нужно, чтобы все они размещались по слою равномерно */
	/* свойство space-between равномерно распределяет кнопки по слою, */
	/* размещая между ними пустые пространства одного размера автоматически */
	justify-content: space-between;
	
	/* располагаем внутренние слои по горизонтали слева направо */
	flex-direction: row;
}

/* divText2 - слой с текстом, который предлагает написать свой размер доски */
#divText2 {
	/* цвет текста светло-серый */
	color: var(--gray);
	
	/* размер маленький (относительно других слоёв с текстами этой странички) */
	font-size: 115%;
}

/* слой с текстовым полем для ввода своего размера доски и с кнопкой "Играть */
#divTextFieldButtonStart {
	/* flex-разметка означает, что все внутренние слои размещаются рядом */
	/* друг с другом в определённом порядке; inline-flex показывает, */
	/* что внешний слой принимает наименьший возможный размер зависимо от внутренних */
	display: inline-flex;
	
	/* располагаем внутренние слои по горизонтали слева направо */
	flex-direction: row;
	
	/* внутренние слои и прочее содержимое располагаем по центру данного слоя */
	justify-content: center;
}

/* главный слой в информационном поле - с текстом */
#divInformation {
	/* шрифт среднего размера (как у соседней кнопки "Начать игру") */
	font-size: 125%;
}

/* внутренний кружочек в дамке */
.divQueen {
	/* размещается относительно верхнего левого угла  */
	position: relative;
	
	/* фон - как у обводки шашки - серый */
	background: var(--gray);
	
	/* это круг, поэтому округляем квадратный слой следующей командой */
	border-radius: 50%;
}

/* шашечная доска: задаём обводку */
#tableGame {
	/* обводка сплошная */ 
	border-style: solid;
	
	/* цвет обводки - светло-серый (dark - это тёмный, да, но он всё-таки кажется светлым) */
	border-color: var(--dark-gray);
}

/* стиль выключенной кнопки */
.buttonDisabled {
	/* обводка сплошная */
	border-style: solid;
	
	/* цвет обводки тусклый серый */
	border-color: var(--dark-gray);
	
	/* фон кнопки, как у тёмной ячейки, - тёмно-серый */
	background: var(--dark-gray-1);
	
	/* шрифт текста на кнопке */
	font-family: Bahnschrift;
	
	/* цвет текста на кнопке */
	color: var(--dark-gray);
}

/* особый размер текста на кнопке: большой */
.buttonX225 {
	font-size: 225%;
}

/* особый размер текста на кнопке: поменьше */
.buttonX125 {
	font-size: 125%;
}

/* стиль обычной кнопки */
.buttonStandart {
	/* обводка сплошная */
	border-style: solid;
	
	/* цвет обводки серый */
	border-color: var(--gray);
	
	/* фон кнопки тёмно-серый */
	background: var(--dark-gray-1);
	
	/* шрифт текста на кнопке */
	font-family: Bahnschrift;
	
	/* цвет текста на кнопке */
	color: var(--gray);
}

/* стиль кнопки при наведении мышью на неё */
.buttonStandart:hover {
	/* фон кнопки более светлый, чем был */
	background: var(--dark-gray-2);
	
	/* цвет обводки золотой */
	border-color: var(--border);
	
	/* цвет текста на кнопке золотой */
	color: var(--border);
}

/* стиль кнопки при нажатии на неё */
.buttonStandart:active {
	/* фон золотой */
	background: var(--border);
	
	/* цвет текста на кнопке серый */
	color: var(--dark-gray-2);
}

/* стиль кнопки "Начать игру": текст большого размера */
#buttonStart {
	font-size: 170%;
}

/* стиль текстового поля */
.textfieldStandart {
	/* обводки нет */
	border-style: none;
	
	/* фон тёмно-серый */
	background: var(--dark-gray-1);
	
	/* шрифт текста на поле */
	font-family: Bahnschrift;
	
	/* размер текста на поле */
	font-size: 200%;
	
	/* цвет текста на поле */
	color: var(--gray);
}

/* стиль текстового поля при нажатии на него */
.textfieldStandart:focus {
	/* фон поля посветлее */
	background: var(--dark-gray-2);
	
	/* цвет текста на поле золотой */
	color: var(--border);
}

/* текст "х " перед текстовым полем */
#divText3 {
	/* цвет текста серый */
	color: var(--gray);
	
	/* размер немаленький */
	font-size: 200%;
}

/* стиль светлого поля */
.field0 {					
	/* фон светлый */													
	background: var(--dark-gray-2);											
}

/* стиль тёмного поля */
.field1 {	
	/* фон темный */																	
	background: var(--dark-gray-1);												
}

/* стиль шашек */
.checkers {
	/* округление квадратных слоёв */
	border-radius: 50%;			
	
	/* размещение относительно верхнего левого края родительского слоя */												
	position: relative;
	
	/* обводка сплошная */
	border-style: solid;
	
	/* цвет обводки серый */
	border-color: var(--gray);
}

/* стиль синих шашек: синий фон */
.A {
	background: var(--blue);

}

/* стиль красных шашек: красный фон */
.B {
	background: var(--red);
}

/* стиль выделенных синих шашек */
.focusA {
	/* цвет фона особый */
	background: var(--blueYellow);
	
	/* обводка золотая */
	border-color: var(--border);
}

/* стиль выделенных красных шашек */
.focusB {
	/* цвет фона особый */
	background: var(--redYellow);
	
	/* обводка золотая */
	border-color: var(--border);
}
