:root{																			/* Константы */									
	--fieldWidth: 70px;															/* длина поля, диаметр окружности шашки */
	--fieldHeight: 70px;														/* высота поля, диаметр окружности шашки */
	--checkerWidth: 64px;														/* диаметр круга шашки */
	--checkerHeight: 64px;														/* диаметр круга шашки */
    --gray: #e0e0e0ff;															/* светло-серый */
    --dark-gray: #989898ff;														/* тёмно-серый */
    --blue: #262739ff;															/* синий */
    --red: #6e2327ff;															/* красный */
    --border: #dee0aaff;														/* жёлтый */
    --black: #1a1a1aff;															/* почти чёрный */
    --dark-gray-2: #333333ff;													/* очень тёмный серый */
    --dark-gray-1: #262626ff;			
    --redYellow: #624937ff;								
    --blueYellow: #48496bff;		
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('Bahnschrift.ttf');
}

body {
	background: var(--black);
	text-align: center;
	font-family: Bahnschrift;
}

#tableCaption {
	display: inline-flex;
	flex-direction: column;
}
#divInformation {
	font-size: 125%;
	color: var(--border);
}
#divCaption {
	border-style: solid;
	border-color: var(--border);
	font-size: 500%;
	text-transform: uppercase;
	color: var(--border);
}
#divText1 {
	color: var(--gray);
	font-size: 150%;
}
.divButtons {
	display: inline-flex;
	justify-content: space-between;
	flex-direction: row;
}
.divQueen {
	position: relative;
	background: var(--gray);
	border-radius: 50%;
}
#tableGame {
	border-style: solid;
	border-color: var(--dark-gray);
}
.buttonDisabled {
	border-style: solid;
	border-color: var(--dark-gray);
	background: var(--dark-gray-1);
	font-family: Bahnschrift;
	color: var(--dark-gray);
}
.buttonX225 {
	font-size: 225%;
}
.buttonX125 {
	font-size: 125%;
}
.buttonStandart {
	border-style: solid;
	border-color: var(--gray);
	background: var(--dark-gray-1);
	font-family: Bahnschrift;
	color: var(--gray);
}
.buttonStandart:hover {
	background: var(--dark-gray-2);
	border-color: var(--border);
	color: var(--border);
}
.buttonStandart:active {
	background: var(--border);
	color: var(--dark-gray-2);
}
#buttonStart {
	font-size: 170%;
}
#divText2 {
	color: var(--gray);
	font-size: 115%;
}
.textfieldStandart {
	border-style: none;
	background: var(--dark-gray-1);
	font-family: Bahnschrift;
	font-size: 200%;
	color: var(--gray);
}
.textfieldStandart:focus {
	background: var(--dark-gray-2);
	color: var(--border);
}
#divText3 {
	color: var(--gray);
	font-size: 200%;
}
#div5 {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
}
#divSpaceText1 {
	display: inline-flex;
	flex-direction: column;
}

.field0 {																		/* Светло-серое поле */
	background: var(--dark-gray-2);													/* цвет фона слоя */
}

.field1 {																		/* Светло-серое поле */
	background: var(--dark-gray-1);												/* цвет фона слоя */
}

.checkers {
	border-radius: 50%;															/* округление квадратов до круга */
	position: relative;
	border-style: solid;
	border-color: var(--gray);
}

.A {
	background: var(--blue);													/* цвет фона слоя */

}
.B {
	background: var(--red);													/* цвет фона слоя */
}
.focusA {
	background: var(--blueYellow);
	border-color: var(--border);
}
.focusB {
	background: var(--redYellow);
	border-color: var(--border);
}

.textNumberTable {
	border-style: solid;
	border-color: var(--border);

	background: var(--very-dark-gray);
	font-family: Bahnschrift;
	color: var(--border);
}
